.cart-form {
  padding: 20px;
}

.cart-footer {
  text-align: right;
  float:right;
  margin-top: 40px;
  margin-left: 40px;
}

.cart-summary {
  text-align: left;
  margin-left: auto;
  display: inline-block;
  padding: 20px;
  border: 1px solid var(--bs-gray-200);
}

input[type="number"] {
  width: 100px;
}

@media screen and (max-width: 768px) {
  thead {
    display: none;
  }

  tbody {
    border: none !important;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  tr + tr {
    border-top: 1px solid var(--bs-gray-200);
  }

  td {
    border: none;
  }

  td:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .cart-summary {
    display: block;
  }

  .cart-footer {
    float:none;
    margin-left: 0px;
    margin-top: 10px;
    height:auto;
  }
}