.cart-form {
  padding: 20px;
}

.cart-footer {
  text-align: right;
  margin-top: 40px;
  margin-left: 40px;
}

.cart-summary {
  text-align: left;
  margin-left: auto;
  display: inline-block;
  padding: 20px;
  border: 1px solid var(--bs-gray-200);
}

.cart-summary-container {
  display: flex;
}

.cart-container {
  flex-grow: 1;
}

.cart-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 767px) {
  thead {
    display: none;
  }

  tbody {
    border: none !important;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  tr + tr {
    border-top: 1px solid var(--bs-gray-200);
  }

  td {
    border: none;
  }

  td:first-child {
    display: flex;
    flex-direction: column;
  }

  .cart-summary {
    display: block;
  }

  .cart-footer {
    margin-left: 0px;
    margin-top: 10px;
    height:auto;
  }

  .cart-summary-container {
    flex-direction: column;
  }  
}