body {
    margin: 0;
    padding-top: 40px;
    background: #bc1a1a;
    height: 100%;
}

/* .container{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
} */


.user-avatar{
    margin: 0px;
    text-align: center;
}

.user-avatar img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    align-content: center;
}

.user-information h3.user-name{
    margin: 0px;
    text-align: center;
}

.user-information h5.user-email{
    margin: 0px;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
}

h3.personal-details-title{
    text-align: left;
}

h3.address-details-title{
    text-align: left;
}

.form-control-spec{
    margin-right: 100px;
}

.form-control-special{
    margin-right: 60px;
}

.form-control-up{
    margin-right: 80px;
}

.submit-button{
    float: right;
}







