.homepage {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 1 1 250px;
  /* Set the width of the sidebar */
  background-color: rgb(247, 247, 247);
  /* Grey background color */
  padding: 30px;
  /* Some padding */
  /*color: white; */
}

/* Main column */

.main {
  flex: 3 1 300px;
  /* Set the width of the main content */
  background-color: white;
  /* White background color */
  padding: 30px;
  /* Some padding */
}