.list-user-form {
  padding: 20px;
}

.list-user-footer {
  text-align: right;
}

@media screen and (max-width: 767px) {
  thead {
    display: none;
  }

  tbody {
    border: none !important;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  tr + tr {
    border-top: 1px solid var(--bs-gray-200);
  }

  td {
    border: none;
  }

  td:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .cart-summary {
    display: block;
  }
}