main {
  background-color:#FF7F7F;  
  padding: 40px;
}

/* .container{
  background-color:white;
  border: single;
  display:grid;
  text-align:center;
  margin: 0 auto;
  width:50%;
  border-radius: 10px;
  padding-top:20px;
  margin-top:200px;
  padding-bottom: 20px;
} */

/* #login-header{
  font-size:30px;
  font-family:Arial;
  margin: 0 auto;
}
#email{
  
  text-align:center;
  margin: 0 auto;
  
}

#Email{
  padding-top:20px;

}

#password{
  margin: 0 auto;
  text-align:center;
} */

/* #submit{
  text-align:center;
  margin: 0 auto;
  position:static;
} */
/* 
#reset{
  text-align:center;
  margin: 0 auto;
  position:relative;
  top:5px;

}
#forgot{
  text-align:center;
  margin: 0 auto;
  position:relative;
  top:10px;
} */

.login-form {
  max-width: 360px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.login-form h1 {
  text-align: center;
  padding-top: 15px;
}

.login-form h4 {
  text-align: center;
}

.login-form form {
  /* width: 300px; */
  padding: 20px;
  font-size: 18px;
}

.login-form form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

.login-form form input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.login-form p {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}