body{
    background-color:#FF7F7F;
    height:20%;
    font-family:verdana;
}

#image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

table {
    text-align:center;
    margin:0 auto;
    padding-top:60px;
    padding-bottom:80px;
    margin-top:60px;
    background-color:white;
    width:60%;
}


table.order, th {
    border-left: 2px solid black;
    margin:0 auto;
    align-items:center;
  }

  .add{
   text-align:center;

  }

  